*{
    box-sizing: border-box;
    text-align : center;
}
.number{
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 5px;
}